// 自定义样式
// ==============================

.profile-ghchart {
    padding: 0.5rem;
    width: MIN(663px, 100%);
    aspect-ratio: 633 / 104;
}

body.custom-background {
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}

.scroll-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: lightslategray;
    border: none;
    padding: 15px 25px;
    border-radius: none;
    cursor: pointer;
    font-size: 32px;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;

    [data-theme='dark'] & {
        color: lightgrey;
    }
}

.scroll-button:hover {
    background-color: transparent;
    transform: translate(-50%, 5px);
}